*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: #003400;
    font-size: 62.5%;
}

header{
    height: 20vh;
    background-color: #006414;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
}


.lista_del_encaezado{
    display: flex;
    justify-content: flex-end;
}

.items_encabezado{
    margin-right: 1rem;
    font-size: 2rem;
}

.logo{
    padding: 1rem;
    width: 10vw;
}

h1{
    color: antiquewhite;
}

h1, h2, p{
    padding: 2rem;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: antiquewhite;
}

h2{
    font-size: 3rem;
}

p{
    text-align: justify;
    font-size: 3rem;
}

main{
    padding: 3rem;
    min-height: 60vh;
    border-radius: 5rem;
    margin: 1rem 2rem;
    background-color: #009929;
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

img{
    width: 100vh;
    border-radius: 2rem;
}

footer{
    height: 17vh;
    background-color: #006414;
}

ul{
    margin-top: 4rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

li{
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 2rem;
    padding: 1rem;
    background-color: #5ccb5f;
    list-style: none;
    color: antiquewhite;
    font-size: 2rem;
}